@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}
table,
th,
td {
  border: 1px solid;
  padding: 5px;
}
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  overflow: hidden;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  overflow: hidden;
}
ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 20px;
  overflow: hidden;
}
ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 20px;
  overflow: hidden;
}
